apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-app
  labels:
    app: spring-boot-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-boot-app
  template:
    metadata:
      labels:
        app: spring-boot-app
    spec:
      containers:
      - name: spring-boot-app
        image: bhavananimmagadda/spring-boot-app:8
        imagePullPolicy: Always   # Ensures Kubernetes always pulls the latest image
        ports:
        - containerPort: 8080
        readinessProbe:           # Checks if app is ready to serve traffic
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:            # Checks if app is alive
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 15
      restartPolicy: Always
