apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-boot-app
  template:
    metadata:
      labels:
        app: spring-boot-app
    spec:
      imagePullSecrets:
        - name: dockerhub-creds
      containers:
        - name: spring-boot-app
          image: bhavananimmagadda/spring-boot-app:8
          ports:
            - containerPort: 8080

